<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
  <h2 class="listcard-title" style="color: #37B4E4;">{{entry.titlelogoshow}}</h2>
   <section class="customer-logos slider">
        {% set rel = entry.logoshow.all() %}
        {% for rels in rel %}
        <div class="slide">
            <img src="{{ rels.getUrl() }}">
        </div>
        {% endfor %}      
   </section>
</div>