<div class="contact-form">
    <div class="container">
        <h2 class="contact-form-title">Liên hệ</h2>
        <p class="sub-contactform">{{ entry.subContent }}</p>
        <div class="row">
            <div class="col-sm-6">
                {{ craft.sproutForms.displayForm('form2') }}
            </div>
            <div class="col-sm-6" id="contact-background">
                <img src="uploads/images/image.png" style="padding-top:25px" alt="/uploads/images/image.png">
            </div>
        </div>
    </div>
</div>